; Set registry for @townsquare-interactive scoped packages
@townsquare-interactive:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

; Set registry for @fortawesome scoped packages
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}

; Set default pre-release identifier
preid=rc

; Don't install dependencies for entire workspace by default.
recursive-install=false

