@import '../styles/variables.scss';

.root {
	position: relative;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        .imageBox {
            width: 30%;
            border: solid 1px $mediumGrey;
            padding: 10px;
            flex-grow: 3;

            &:hover {
                border: solid 1px $MirageBlue500;
            }

            .image {
                height: 250px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }            
        }
        
    }  
}